/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* LINK-RESET */
a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* LINKS */
.pc-nav * > a {
  color: #fffefe;
  /* border-bottom: 2px solid hsl(152, 35%, 57%); */
}

/* .pc-nav * > a:hover,
.pc-nav * > a:active,
.pc-nav * > a:focus-visible {
  border-bottom: 2px solid hsl(155, 70%, 13%/ 90%);
} */

/* NAV-LINK */
.nav-link {
  /* background-color: red !important; */
  padding-inline: 25% !important;
}

/* BODY */
.img-div {
  background: url("/public/sven-d-a4S6KUuLeoM-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Carousel */

.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
  border: #ff00008e solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}