/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LINKS */
a {
  color: #111111;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* BODY */
.img-div {
  background: url('/public/sven-d-a4S6KUuLeoM-unsplash.jpg') no-repeat;
  background-size: cover;
}

